# Node
node_modules/
dist/
build/
.angular/

# Maven/Java
target/
.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

# IDEs
.vscode/
.idea/
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
*.iws
*.iml
*.ipr
/nbproject/private/
/nbbuild/
/nbdist/
/.nb-gradle/

# OS
.DS_Store
Thumbs.db
