<div class="login-container">
  <div class="form-card">
    <div class="brand">
      <div class="logo-wrapper">
        <img src="assets/images/logobondin.png" alt="logo" />
      </div>
      <h2>Créer un compte</h2>
    </div>

    <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
      <div class="form-group">
        <input type="text" placeholder="Nom utilisateur" formControlName="nomUtlisateur" />
        <small *ngIf="registerForm.get('nomUtlisateur')?.invalid && registerForm.get('nomUtlisateur')?.touched">
          Nom utilisateur requis
        </small>
      </div>

      <div class="form-group">
        <input type="email" placeholder="Email" formControlName="email" />
        <small *ngIf="registerForm.get('email')?.invalid && registerForm.get('email')?.touched">
          Email invalide
        </small>
      </div>

      <div class="form-group">
        <input type="password" placeholder="Mot de passe" formControlName="motDePasse" />
        <small *ngIf="registerForm.get('motDePasse')?.invalid && registerForm.get('motDePasse')?.touched">
          Minimum 6 caractères
        </small>
      </div>

      <div class="form-group">
        <select formControlName="role" class="bondin-select">
          <option value="" disabled selected>-- Choisir un rôle --</option>
          <option value="ADMIN">Admin</option>
          <option value="EMPLOYE">Employé</option>
          <option value="SERVICE_IT">Service IT</option>
          <option value="RH">RH</option>
        </select>
        <small *ngIf="registerForm.get('role')?.invalid && registerForm.get('role')?.touched">
          Rôle requis
        </small>
      </div>

      <button type="submit">S'inscrire</button>

      <div class="error" *ngIf="errorMessage">
        {{ errorMessage }}
      </div>
    </form>

    <p class="redirect">
      Déjà un compte ? <a routerLink="/login">Se connecter</a>
    </p>
    
    <div class="footer">
      © 2026 BONDIN Tunisie — Système interne
    </div>
  </div>
</div>