<div class="change-container">
  <div class="form-card">
    <div class="brand">
      <div class="logo-wrapper">
        <img src="assets/images/logobondin.png" alt="logo" />
      </div>
      <h2>{{ 'SEC.CHANGE_PASSWORD' | translate }}</h2>
    </div>

    <form [formGroup]="form" (ngSubmit)="onSubmit()">
      <p class="instr">{{ 'SEC.CHANGE_PASSWORD_INSTR' | translate }}</p>

      <div class="form-group">
        <input type="password" [placeholder]="'SEC.OLD_PASSWORD' | translate" formControlName="oldPassword" />
      </div>

      <div class="form-group">
        <input type="password" [placeholder]="'SEC.NEW_PASSWORD' | translate" formControlName="newPassword" />
      </div>

      <div class="form-group">
        <input type="password" [placeholder]="'SEC.CONFIRM_PASSWORD' | translate" formControlName="confirmPassword" />
      </div>

      <button type="submit" [disabled]="loading">
        {{ loading ? ('SEC.SAVING' | translate) : ('SEC.SAVE' | translate) }}
      </button>

      <div class="error" *ngIf="isError && message">{{ message }}</div>
      <div class="success-message" *ngIf="!isError && message">
        <p>{{ message }}</p>
      </div>

      <p class="redirect">
        <a routerLink="/dashboard">{{ 'SEC.BACK_DASHBOARD' | translate }}</a>
      </p>
    </form>
  </div>
</div>

